runs
data/cache_*
data/high_low
data/specificity_qa_dataset
data/temp_dataset
logs
question-answering/bert_large_qa_model
question-answering/bert_base_qa_model
*.pyc
*.pyo
squash/final
squash/temp
*.pkl
*.pickle
question-generation/gpt2_corefs_question_generation
question-generation/gpt_corefs_question_generation
question-generation/gpt2_question_generation
question-generation/gpt_question_generation
